In [2]:
import pandas as pd

In [3]:
# Load dataframe
en_simlex = pd.read_csv("../data/dataset/en-simlex-999.txt", delimiter='\t')

In [4]:
# Create combined column
en_simlex['Combined_Columns'] = en_simlex['word1'] + '_' + en_simlex['word2']

# Check for duplicate word pairws
duplicate_combinations = en_simlex.duplicated(subset='Combined_Columns', keep=False)

# Print rows with duplicate word pairs
print(en_simlex[duplicate_combinations])

Empty DataFrame
Columns: [word1, word2, POS, SimLex999, conc(w1), conc(w2), concQ, Assoc(USF), SimAssoc333, SD(SimLex), Combined_Columns]
Index: []

In [6]:
# Select columns
cleaned_en_simlex = en_simlex[['word1', 'word2', 'SimLex999', 'SD(SimLex)', 'POS']]

# Show results
cleaned_en_simlex

      word1        word2  SimLex999  SD(SimLex) POS
0       old          new       1.58        0.41   A
1     smart  intelligent       9.20        0.67   A
2      hard    difficult       8.77        1.19   A
3     happy     cheerful       9.55        2.18   A
4      hard         easy       0.95        0.93   A
..      ...          ...        ...         ...  ..
994    join      acquire       2.85        0.99   V
995    send       attend       1.67        1.44   V
996  gather       attend       4.80        1.97   V
997  absorb     withdraw       2.97        1.75   V
998  attend       arrive       6.08        1.18   V

[999 rows x 5 columns]

In [7]:
# Export cleaned DataFrame to CSV
cleaned_en_simlex.to_csv('../data/dataset/cleaned-en-simlex-999.csv', index=False)