In [2]:
import pandas as pd

In [13]:
# Load dataframe
nl_simlex = pd.read_csv("../data/raw_data/nl-simlex-999.txt", delimiter='\t')

# Show dataframe
nl_simlex

           word1        word2  SimLex999 POS
0            oud        nieuw       1.94   A
1           slim  intelligent       8.19   A
2           hard     moeilijk       4.46   A
3       gelukkig      vrolijk       6.49   A
4           hard        stoer       5.69   A
..           ...          ...        ...  ..
994  samenvoegen    verwerven       3.89   V
995       sturen     bijwonen       1.85   V
996   verzamelen     bijwonen       1.06   V
997      opnemen    intrekken       2.29   V
998     bijwonen     aankomen       1.32   V

[999 rows x 4 columns]

In [14]:
# Create combined column
nl_simlex['Combined_Columns'] = nl_simlex['word1'] + '_' + nl_simlex['word2']

# Check for duplicate word pairws
duplicate_combinations = nl_simlex.duplicated(subset='Combined_Columns', keep=False)

# Print rows with duplicate word pairs
print(nl_simlex[duplicate_combinations])

     word1      word2  SimLex999 POS  Combined_Columns
11  slecht  vreselijk       5.91   A  slecht_vreselijk
13  slecht  vreselijk       7.53   A  slecht_vreselijk

In [15]:
# Replace "taxi's" with "taxis" to prevent error
nl_simlex.loc[143, "word2"] = "taxis"

# Show results
nl_simlex.loc[143]

word1                      taxi
word2                     taxis
SimLex999                  8.17
POS                           N
Combined_Columns    taxi_taxi's
Name: 143, dtype: object

In [16]:
# Replace 'vreselijk' with 'afschuwelijk' in row 11 (slecht, vreselijk is duplicate)
# nl_simlex.loc[11, 'word2'] = 'afschuwelijk'

# Find indices with the duplicate word pairs: 'slecht', 'vreselijk'
indices_to_drop = nl_simlex[(nl_simlex['word1'] == 'slecht') & (nl_simlex['word2'] == 'vreselijk')].index

# Drop these rows and reset the index
nl_simlex.drop(indices_to_drop, inplace=True)
nl_simlex.reset_index(drop=True, inplace=True)

# Show results
nl_simlex

           word1        word2  SimLex999 POS       Combined_Columns
0            oud        nieuw       1.94   A              oud_nieuw
1           slim  intelligent       8.19   A       slim_intelligent
2           hard     moeilijk       4.46   A          hard_moeilijk
3       gelukkig      vrolijk       6.49   A       gelukkig_vrolijk
4           hard        stoer       5.69   A             hard_stoer
..           ...          ...        ...  ..                    ...
992  samenvoegen    verwerven       3.89   V  samenvoegen_verwerven
993       sturen     bijwonen       1.85   V        sturen_bijwonen
994   verzamelen     bijwonen       1.06   V    verzamelen_bijwonen
995      opnemen    intrekken       2.29   V      opnemen_intrekken
996     bijwonen     aankomen       1.32   V      bijwonen_aankomen

[997 rows x 5 columns]

Double check for duplicates

In [17]:
# Create combined column
nl_simlex['Combined_Columns'] = nl_simlex['word1'] + '_' + nl_simlex['word2']

# Check for duplicate word pairws
duplicate_combinations = nl_simlex.duplicated(subset='Combined_Columns', keep=False)

# Print rows with duplicate word pairs
print(nl_simlex[duplicate_combinations])

Empty DataFrame
Columns: [word1, word2, SimLex999, POS, Combined_Columns]
Index: []

In [18]:
# Drop irrelevant column
nl_simlex = nl_simlex.drop("Combined_Columns", axis=1)

In [19]:
# Export cleaned DataFrame to CSV
nl_simlex.to_csv('../data/cleaned_data/cleaned-nl-simlex-999.csv', index=False)